.chat_box {
  border-radius: 15px;
  margin: 0;
  padding: 0 10px;
  width: 500px;
  height: 700px;
  overflow-y: auto;
  background-color: #9bbbd4;
  display: flex;
  flex-direction: column;
  li {
    list-style: none;
    margin: 5px 0;
    padding: 2px 0;
  }
  .system {
    width: 50%;
    margin: 5px auto;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }
  .me {
    text-align: end;
    span {
      background-color: #fef01b;
      width: 100%;
      padding: 2px 12px;
      border-radius: 10px;
    }
  }
  .you {
    text-align: start;
    span {
      background-color: white;
      width: 100%;
      padding: 2px 12px;
      border-radius: 10px;
    }
  }
}

.chat {
  input {
    padding-left: 10px;
    font-size: 16px;
    width: 505px;
    border-radius: 10px;
    outline: none;
    height: 40px;
    border: 1px solid black;
  }
}
