.login_section {
  width: 33%;
  height: 500px;
  margin: auto;
  text-align: center;
  padding-top: 250px;
  div {
    font-size: xx-large;
  }
}

.game_section {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
