@import "./paint.scss";
@import "./section.scss";
@import "./chat.scss";
@import "./user.scss";

body {
  background-color: #f6f9fc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 30px 0px;
}

.none {
  display: none;
}
