.second_column {
  text-align: center;
  .start_btn {
    margin: 50px 0;
    font-size: 32px;
    border-radius: 10px;
    outline: none;
    transition: all 300ms ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.3);
    }
  }
}

.user_box {
  font-weight: bold;
  width: 200px;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 10px;
  border-radius: 15px;
}

.user_list {
  border-top: 2px solid black;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  padding-top: 10px;
  li {
    list-style: none;
  }
}

.submit {
  width: 200px;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;

  border-radius: 15px;
  font-weight: bold;
}

.answer_title {
  border-bottom: 2px solid black;
  height: 40%;
  line-height: 40px;
}

.answer_form {
  input {
    margin-top: 10px;
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    text-align: center;
    color: steelblue;
    border-radius: 10px;
    font-size: 16px;
  }
  input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}
