.second_column {
  text-align: center;
  .start_btn {
    margin: 50px 0;
    font-size: 32px;
    border-radius: 10px;
    outline: none;
    transition: all 300ms ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.3);
    }
  }
}

.user_box {
  width: 200px;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 10px;
  border-radius: 15px;
}

.user_list {
  border-top: 1px solid black;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  padding-top: 10px;
  li {
    list-style: none;
  }
}

.submit {
  width: 200px;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 10px;
  border-radius: 15px;
}

.answer_list {
  border-top: 1px solid black;
  height: 65%;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  padding-top: 10px;
  li {
    list-style: none;
  }
}
