doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles/styles.css")
    title Guess Mine
  body 
      form.login
          input(type="text" placeholder="write name")
      ul.chat_box
      form.chat
          input(type="text" placeholder="write message")
      script(src="/socket.io/socket.io.js") 
      script(src="/js/main.js") 